@model IEnumerable<RabbitHouse.ViewModels.SingleOrderViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBracket.cshtml";
}


<div class="pageheader">
    <h2><i class="fa fa-edit"></i> OrderManage<span>进行订单管理</span></h2>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","SystemManage")">首页</a></li>
            <li>订单</li>
            <li class="active">订单列表</li>
        </ol>
    </div>
</div>

<div class="contentpanel">
    <div class="row">
        <div class="col-md-12">
            <h5 class="subtitle mb5">订单列表</h5>
            <p class="mb5">您可以在此查看订单信息.</p>
            <a class="btn btn-primary btn-xs mb10" href="@Url.Action("Create","ProductCategoryManage")">创建一个新的商品分类</a>
            <div class="table-responsive">
                <table class="table table-hidaction table-hover mb30">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>时间</th>
                            <th>用户</th>
                            <th>总价</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.RecordTime</td>
                                <td>@item.User.UserName</td>
                                <td>￥@item.Total</td>
                                <td class="table-action-hide">
                                    <a href="@Url.Action("Details","OrderManage",new { id=item.Id })">
                                        <i class="fa fa-file-text-o"></i>
                                    </a>
                                    <a href="@Url.Action("Edit","OrderManage",new { id=item.Id })">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a href="@Url.Action("Delete","OrderManage",new { id=item.Id })">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><!-- contentpanel -->

@section scripts{

    @Scripts.Render("~/bundles/bracket/TableScript")

    <script>
        jQuery(document).ready(function () {

            "use strict";

            jQuery('#table1').dataTable();

            jQuery('#table2').dataTable({
                "sPaginationType": "full_numbers"
            });

            // Select2
            jQuery('select').select2({
                minimumResultsForSearch: -1
            });

            jQuery('select').removeClass('form-control');

            // Delete row in a table
            jQuery('.delete-row').click(function () {
                var c = confirm("Continue delete?");
                if (c)
                    jQuery(this).closest('tr').fadeOut(function () {
                        jQuery(this).remove();
                    });

                return false;
            });

            // Show aciton upon row hover
            jQuery('.table-hidaction tbody tr').hover(function () {
                jQuery(this).find('.table-action-hide a').animate({ opacity: 1 });
            }, function () {
                jQuery(this).find('.table-action-hide a').animate({ opacity: 0 });
            });


        });
    </script>
}
