@model SchoolLibrary.Models.UsersAdminIndexViewModel

@{


    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutForCMS.cshtml";
}

@using PagedList;
@using PagedList.Mvc;

<div class="pageheader">
    <h2><i class="fa fa-edit"></i> General Forms <span>Subtitle goes here...</span></h2>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","CMS")">首页</a></li>
            <li>用户</li>
            <li class="active">用户列表</li>
        </ol>
    </div>
</div>

<div class="contentpanel">
    <div class="row">
        <div class="col-md-12">
            <h5 class="subtitle mb5">账户列表</h5>
            <p class="mb20">您可以在此查看并编辑用户信息.</p>
            <div class="table-responsive">
                <table class="table table-hidaction table-hover mb30">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>用户名</th>
                            <th>电子邮件</th>
                            <th>联系电话</th>
                            <th>用户权限</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Users)
                        {
                            <tr>
                                <td>@item.User.Id</td>
                                <td>@item.User.UserName</td>
                                <td>@item.User.Email</td>
                                <td>@item.User.PhoneNumber</td>
                                <td>
                                    @for (int i = 0; i < item.RolesForUser.Count(); i++)
                                    {
                                        @item.RolesForUser.ElementAt(i);
                                        if (i != item.RolesForUser.Count() - 1)
                                        {
                                            <span>/</span>
                                        }
                                    }
                                </td>
                                <td class="table-action-hide">
                                    <a href="@Url.Action("Details","UsersAdmin",new { id=item.User.Id })">
                                        <i class="fa fa-file-text-o"></i>
                                    </a>
                                    <a href="@Url.Action("Edit","UsersAdmin",new { id=item.User.Id })">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @Html.PagedListPager((IPagedList)Model.Users,page=>Url.Action("Index","UsersAdmin", new { page } ),PagedListRenderOptions.OnlyShowFivePagesAtATime )
</div><!-- contentpanel -->



@section scripts{

<script src="~/Content/bracket/js/jquery.datatables.min.js"></script>
<script src="~/Content/bracket/js/select2.min.js"></script>

  <script>
  jQuery(document).ready(function() {

    "use strict";

    jQuery('#table1').dataTable();

    jQuery('#table2').dataTable({
      "sPaginationType": "full_numbers"
    });

    // Select2
    jQuery('select').select2({
        minimumResultsForSearch: -1
    });

    jQuery('select').removeClass('form-control');

    // Delete row in a table
    jQuery('.delete-row').click(function(){
      var c = confirm("Continue delete?");
      if(c)
        jQuery(this).closest('tr').fadeOut(function(){
          jQuery(this).remove();
        });

        return false;
    });

    // Show aciton upon row hover
    jQuery('.table-hidaction tbody tr').hover(function(){
      jQuery(this).find('.table-action-hide a').animate({opacity: 1});
    },function(){
      jQuery(this).find('.table-action-hide a').animate({opacity: 0});
    });


  });
</script>
  }
