@model RabbitHouse.ViewModels.ProductManageDeleteViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutBracket.cshtml";
}

<div class="pageheader">
    <h2><i class="fa fa-edit"></i> General Forms <span>Subtitle goes here...</span></h2>
    <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "CMS")">首页</a></li>
            <li>商品</li>
            <li><a href="@Url.Action("Index", "BookManage")">商品列表</a></li>
            <li class="active">商品删除</li>
        </ol>
    </div>
</div>

<div class="contentpanel">
    <div class="panel panel-default">
        @using (Html.BeginForm("Delete", "ProductManage", FormMethod.Post, htmlAttributes: new { @class = "" }))
        {
        <div class="panel-heading">
            <div class="panel-btns">
                <a class="panel-close"></a>
                <a class="minimize"></a>
            </div>
            <h4 class="panel-title">商品删除</h4>
            <p>您确定要删除以下商品吗？.</p>
        </div>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        @Html.HiddenFor(model => model.Id)
        <div class="panel-body panel-body-nopadding">
            <div class="form-horizontal form-bordered">
                <div class="form-group">
                    @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-6 control-content">
                        @Html.DisplayFor(model => model.Id, new { htmlAttributes = new { @class = "", @placeholder = "" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-6 control-content">
                        @Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @class = "", @placeholder = "" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-6 control-content">
                        @Html.DisplayFor(model => model.Category.Name, new { htmlAttributes = new { @class = "", @placeholder = "" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ShortDescription, htmlAttributes: new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-6 control-content">
                        @Html.DisplayFor(model => model.ShortDescription, new { htmlAttributes = new { @class = "", @placeholder = "" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-6 control-content">
                        @Html.DisplayFor(model => model.Remark, new { htmlAttributes = new { @class = "", @placeholder = "" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CoverImgUrl, htmlAttributes: new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-6 control-content">
                        <div>
                            <img class="mb10" src="@Model.CoverImgUrl" alt="..." />
                        </div>

                        @Html.DisplayFor(model => model.CoverImgUrl, new { htmlAttributes = new { @id = "post-img-path", @class = "", @placeholder = "" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-6 control-content">
                        ￥@Html.DisplayFor(model => model.Price, new { htmlAttributes = new { @class = "", @placeholder = "" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentDiscount, htmlAttributes: new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-6 control-content">
                        @Html.DisplayFor(model => model.CurrentDiscount, new { htmlAttributes = new { @class = "form-control", @placeholder = "" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DiscountStartTime, htmlAttributes: new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-6 control-content">
                        @Html.DisplayFor(model => model.DiscountStartTime, new { htmlAttributes = new { @class = "form-control", @placeholder = "" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DiscountEndTime, htmlAttributes: new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-6 control-content">
                        @Html.DisplayFor(model => model.DiscountEndTime, new { htmlAttributes = new { @class = "form-control", @placeholder = "" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsSeasonalProduct, htmlAttributes: new { @class = "col-sm-3 control-label" })
                    <div class="col-md-6">
                        <div class="checkbox block">
                            <label>
                                @Html.CheckBoxFor(model => model.IsSeasonalProduct, htmlAttributes: new { @class = "", @placeholder = "", @readonly = "readonly", @disabled = "" })
                                时季商品
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SaleStartTime, htmlAttributes: new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-6 control-content">
                        @Html.DisplayFor(model => model.SaleStartTime, new { htmlAttributes = new { @class = "", @placeholder = "" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SaleEndTime, htmlAttributes: new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-6 control-content">
                        @Html.DisplayFor(model => model.SaleEndTime, new { htmlAttributes = new { @class = "", @placeholder = "" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Properties, htmlAttributes: new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-6 control-content">
                        @foreach (var prop in Model.Properties)
                        {
                            <img src="@prop.ImgUrl" />
                        }
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PublishTime, htmlAttributes: new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-6 control-content">
                        @Html.DisplayFor(model => model.PublishTime, new { htmlAttributes = new { @class = "", @placeholder = "" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-6 control-content">
                        @Html.DisplayFor(model => model.Description, new { htmlAttributes = new { @class = "", @placeholder = "" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Imgs, htmlAttributes: new { @class = "col-sm-3 control-label" })
                    <div class="col-sm-6 control-content">
                        @foreach (var img in Model.Imgs)
                        {
                            <img src="@img.Url" />
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <button class="btn btn-danger" type="submit">删除</button>
                    <a class="btn btn-default" href="@Url.Action("Index")">返回</a>
                </div>
            </div>
        </div>
        }
    </div>

</div><!-- contentpanel -->