<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-cloud navbar-fixed-top">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="@Url.Action("Index","Home")">
                        <iframe frameborder="0" src="~/Content/svg/rabbit-brand.svg"></iframe>
                </a>

            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@Url.Action("Index","Home")">
                            <span>本店紹介</span>   
                            <p>introduction of shop</p>                                               
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Home")">
                            <span>期間特価</span>
                            <p>period off</p>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Home")">
                            <span>RSS新聞</span>
                            <p>recent news</p>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Home")">
                            <span>商品情報</span>
                            <p>information of goods</p>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Home")">
                            <span>店員履歴</span>
                            <p>employees' CV</p>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Home")">
                            <span>オンライン注文</span>
                            <p>online order</p>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Home")">
                            <span>サイトについて</span>
                            <p>about</p>
                        </a>
                    </li>
                </ul>
            </div>

    </div>
    
        @RenderBody()

    <footer class="main-footer">
        <div class="container top-content">
            <div class="block-top-text">RabbitHouse.Application.For learning and thinking</div>
            <div class="stand-part">
                <span>外部サイト</span>
                <ul>
                    <li>
                        <a href="http://www.gochiusa.com">公式サイト</a>
                    </li>
                    <li>
                        <a href="https://ja.wikipedia.org/wiki/%E3%81%94%E6%B3%A8%E6%96%87%E3%81%AF%E3%81%86%E3%81%95%E3%81%8E%E3%81%A7%E3%81%99%E3%81%8B%3F">wikipedia</a>
                    </li>
                    <li>
                        <a href="http://www.coffeereview.com/coffee-reference/coffee-basics/introduction/">coffee basics</a>
                    </li>
                    <li>
                        <a href="http://papers.co/tag/daily-best/">wallpaper</a>
                    </li>
                    <li>
                        <a href="http://www.live365.com/index.live">classic music</a>
                    </li>
                </ul>
            </div>
            <div class="stand-part">
                <span>技術支援</span>
                <ul>
                    <li>
                        <a href="https://www.visualstudio.com/">visual studio</a>
                    </li>
                    <li>
                        <a href="http://asp.net/">ASP.NET</a>
                    </li>
                    <li>
                        <a href="https://azure.microsoft.com">azure</a>
                    </li>
                    <li>
                        <a href="http://jquery.com/">jQuery</a>
                    </li>
                    <li>
                        <a href="http://getbootstrap.com/">bootstrap.com</a>
                    </li>
                    <li>
                        <a href="http://fontawesome.io/">fontawesome</a>
                    </li>
                </ul>
            </div>
            <div class="social-buttons bottom-right">
                <div class="fb-like"></div>
                <div><a href="https://twitter.com/share" class="twitter-share-button" data-via="SNeko3000">Tweet</a></div>
            </div>       
        </div>
        <div class="container bottom-content">
            <span>and always waiting</span>
        </div>
    </footer>

    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/sitebehavior")


    @RenderSection("scripts", required: false)

    <div id="fb-root"></div>
    
    <script>
            (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/zh_CN/sdk.js#xfbml=1&version=v2.4";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
            !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');
    </script>
</body>
</html>
