<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>

    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/Content/style")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="main-nav visible-lg visible-md">
        <div class="top-area">
            <div class="brand-text">RabbitHouse.</div>
            <div class="login-container">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
        <div class="middle-area">
            <div class="main-brand">
                <div class="circle">
                    <div class="round">
                        <img src="~/Content/svg/cafe-rabbit.svg" />
                    </div>
                </div>
            </div>
            <div class="main-brand-info">
                <p>Anytime,Anywhere,<br />We Are Only Focusing Classic Coffee.</p>
            </div>
        </div>

        <div class="bottom-area">
            <div class="link-list">
                <ul>
                    <li>
                        <a href="@Url.Action("Intros","Home")"></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","News")"></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Discount")"></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Ordering")"></a>
                    </li>
                </ul>
                <div class="bottom-white-line"></div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-cloud navbar-fixed-top visible-sm visible-xs">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="@Url.Action("Index","Home")">
                <img src="~/Content/svg/rabbit-brand.svg" />
            </a>
        </div>

        <div class="navbar-collapse collapse navbar-ul-container">
            <ul class="nav navbar-nav">
                <li>
                    <a href="@Url.Action("Intros","Home")">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","News")">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Discount")">
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Ordering")">
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <div class="nav-space visible-sm visible-xs"></div>
    @RenderBody()

    <footer class="main-footer">
        <div class="container top-content">
            <div class="row top-sentence">
                <div class="col-lg-12">RabbitHouse.Application.For learning and thinking.</div>
            </div>
            <div class="row link-group">
                <div class="link-block col-sm-2 col-xs-12">
                    <span>外部站点</span>
                    <ul>
                        <li>
                            <a href="http://www.gochiusa.com">官方站点</a>
                        </li>
                        <li>
                            <a href="https://ja.wikipedia.org/wiki/%E3%81%94%E6%B3%A8%E6%96%87%E3%81%AF%E3%81%86%E3%81%95%E3%81%8E%E3%81%A7%E3%81%99%E3%81%8B%3F">Wikipedia</a>
                        </li>
                        <li>
                            <a href="http://www.coffeereview.com/coffee-reference/coffee-basics/introduction/">Gallery</a>
                        </li>
                        <li>
                            <a href="http://papers.co/tag/daily-best/">Wallpaper</a>
                        </li>
                    </ul>
                </div>
                <div class="link-block col-sm-2 col-xs-12">
                    <span>技术支援</span>
                    <ul>
                        <li>
                            <a href="https://azure.microsoft.com">Azure</a>
                        </li>
                        <li>
                            <a href="">设计中心</a>
                        </li>
                    </ul>
                </div>
                <div class="link-block col-sm-2 col-xs-12">
                    <span>联系我们</span>
                    <ul>
                        <li>
                            <a href="">BLOG</a>
                        </li>
                        <li>
                            <a href="">电子邮件</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row social-button-group">
                <div class="col-xs-12">
                    <div class="pull-right">
                        <a href="">
                            <img class="social-button" src="~/Content/img/shared/social-button/facebook.png" />
                        </a>
                        <a href="">
                            <img class="social-button" src="~/Content/img/shared/social-button/twitter.png" />
                        </a>
                        <a href="">
                            <img class="social-button" src="~/Content/img/shared/social-button/google-plus.png" />
                        </a>
                        <a href="">
                            <img class="social-button" src="~/Content/img/shared/social-button/weibo.png" />
                        </a>
                        <a href="">
                            <img class="social-button" src="~/Content/img/shared/social-button/wechat.png" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="row language-select-group">
                <div class="col-xs-12">
                    <div class="pull-right">
                        <select id="language-selector">
                            <option>简体中文</option>
                            <option>English</option>
                            <option>日本語</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="container bottom-content">
            <span>and always be waiting</span>
        </div>
    </footer>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/sitebehavior")


    @RenderSection("scripts", required: false)


</body>
</html>

