@model RabbitHouse.ViewModels._LoginPartialViewModel
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{       
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
    {
        @Html.AntiForgeryToken()
        <ul class="user-area">
            <li>
                @*@Html.ActionLink("你好，" + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                <div class="btn-group btn-group-solid">
                    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@User.Identity.GetUserName()</a>       
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index","UserCenter")"><i class="fa fa-book"></i>我的信息</a></li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i>注销</a></li>
                    </ul>
                </div>
            </li>
            @*<li><a href="javascript:document.getElementById('logoutForm').submit()">注销</a></li>*@
            <li>
                <a href="@Url.Action("Index","ShoppingCart")">
                    <div class="cart-btn">
                        <span class="badge" id="current-count">@Model.CartCount</span>
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                </a>
            </li>
        </ul>
    }
}
else
{
    <ul class="user-area">
        <li><a href="#" data-toggle="modal" data-target="#loginSubmitModal" data-aim="#register">注册</a></li>
        <li><a href="#" data-toggle="modal" data-target="#loginSubmitModal" data-aim="#login">登陆</a></li>
        <li>
            <a href="@Url.Action("Index","ShoppingCart")">
                <div class="cart-btn">
                    <span class="badge" id="current-count">@Model.CartCount</span>
                    <i class="fa fa-shopping-cart"></i>
                </div>
            </a>
        </li>
    </ul>
}
